.header {
    width: 100%;
    height:  calc(25vh + 25vw);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    height: calc(100% - 20vw);
    position: relative;
    top: 6vw;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.stats {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vw;
    max-height: 30vw;
    position: relative;
    margin-left: 5vw;
}

.stats svg {
    width: 100%;
    height: 100%;
}


.stats foreignObject div {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats text > tspan {
    font-size: 1.2vw;
}


.info {
    display: flex;
    justify-content: space-between;
}

.section {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 5vh;
}

.section [id="subteam_svg_container"] {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section [id="subteam_element"] {
    width: 80%;
    max-height: 100vh;
    box-sizing: border-box;
    margin-bottom: 6vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section [id="subteam_picture"] {
    width: 25%;
    height: 25vh;
    position: relative;
    box-sizing: border-box;
    padding: 0.7%;
    border-radius: 5%;
    outline: 1vh solid;
    outline-color: rgb(12, 51, 92);
    overflow: hidden;
}


.section [id="subteam_text"] {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    padding-left: 5vw;
}

.about {
    margin-right: 6vw;
    margin-left: 6vw;
    max-width: 65%;
    margin-top: 2vw;
}

.sponsors {

}

